:root {
    --sidebar-width: 12vw;
    --background-color: #414141;
    --border-color: #000000;
    --font-color: #9D9D9D;
    --font-hover: #ff0000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
    display: flex;
    background: var(--background-color);
    size:100vh;
    border: 20px solid var(--border-color);
}

/* Sidebar Navigation */
.sidebar {
    position: fixed;
    padding: 20px
}

.nav-header img {
    width: 100px;
    border: #e6e6e6 2px solid;
}

.nav-header a {
    font-size: 24px;
    font-weight: 600;
    text-decoration: none;
    color: var(--font-color);
}

.nav-links {
    list-style: none;
}

.nav-links a {
    display: block;
    color: var(--font-color);
    text-decoration: none;
}

.nav-links a:hover {
    transition: all 0.5s;
    color: var(--font-hover);
}


/* Index Page */

.index-content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    writing-mode: vertical-lr;
    text-orientation: upright;
}

body.index {
    color: var(--font-color);
    height: 100vh;
    background-color: #2f3d7e;
}

/* Main Content Area */

.content {
    margin-left: var(--sidebar-width);
    padding: 40px 0px;
    max-width: 1400px;
}

.content h1 {
    font-size: 42px;
    margin-bottom: 10px;
    font-weight: 600;
}

.content .date {
    color: var(--font-color);
    font-size: 16px;
    margin-bottom: 30px;
    font-style: italic;
}

.content p {
    line-height: 1.7;
    color: var(--font-color);
    margin-bottom: 30px;
}

.grid-2,
.grid-3,
.grid-4 {
    display: grid;
    gap: 10px;
}

.grid-2 {
    grid-template-columns: repeat(2, 1fr);
}

.grid-3 {
    grid-template-columns: repeat(3, 1fr);
}

.grid-4 {
    grid-template-columns: repeat(4, 1fr);
}

.grid-single img,
.grid-2 img,
.grid-3 img,
.grid-4 img {
    max-width: 100%;
    height: auto;
    display: block;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: var(--border-color);
    height: 120px;
    padding: 20px;
    z-index: 100;
}