---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Axel Olsthoorn">
	<main>
		<h1>Axel <span class="text-gradient">Olsthoorn</span></h1>
	</main>
</Layout>

